name: terraform-rg
on:
  workflow_dispatch:
permissions:
  id-token: write
  contents: read|write
  issues: read|write

jobs:
  build:
    runs-on: self-hosted
    
    

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.6.0'
      - name: Azure Login 
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}

      - name: Terraform init
        run: terraform init -input=false -no-color

      - name: Terraform plan (save)
        run: terraform plan -out=tfplan -input=false -no-color

      - name: Show human-readable plan
        run: terraform show -no-color tfplan

      - name: Terraform apply (apply saved plan)
        run: terraform apply -auto-approve tfplan
